/* custom */

body {
  font-family: 'Open Sans', sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
  }

  padding: 20px 0;
}

div.container {
  width: 730px;
  .header,
  .footer {
    padding: 0 15px;
  }

  a {
    text-decoration: none;
  }

  div.header {
    overflow: auto;
    h3 {
      line-height: 40px;
      cursor: default;
      color: #a66a17;
    }
    ul {
      padding-top: 20px;
    }
  }

  hr {
      margin: 0;
      padding: 0 15px;
  }

  div#main {

    .home-section {
      height: 120px;
      border: 1px solid black;
      margin: 16px 0;
      &.one { background: url('/images/home-img.gif'); }
      &.two { background: url('/images/home-pen.gif'); }
      &.three { background: url('/images/home-glasses.gif'); }
      div#top-text {
        float: right;
        z-index: 2;
        position: relative;
        top: 12px;
        right: 12px;
        font-weight: 600;
        background: #ccc;
      }
      div.img {
        display: none;
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
      }
    }

    padding: 0 15px;

    h3 {
      font-size: 40px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    p#home-bottom {
      text-align: center;
    }

    ul.posts {
      list-style-type: none;
      margin-left: -38px;
    }

    table#portfolio {
      .title-row {
        line-height: 2.4;
      }
      .title {
        font-size: 24px;
      }
      .image img {
        width: 300px;
        border: 1px solid #999;
      }
      .description p {
        padding-left: 20px;
        line-height: 1.5;
      }
      .sep {
        height: 20px;
      }
    }

    div.hidden-images {
      display: none;
    }

    div#me {
      #selfie-div { margin-top: 28px; float: right; }
      img#selfie { border: 1px solid black; margin-left: 20px;}
    }

  }

  div.footer {
    overflow: auto;
    color: #999;
    margin-top: 20px;
    hr { margin: 0; padding-top: 10px; }
    #social-info {
      a {
        color: #999;
      }
    }
  }

}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/*@media screen and (max-width: 640px) {
  .container {
    max-width: 400px;
  }
  .header {
    h3 {
      float: none !important;
      text-align: center;
      line-height: 0 !important;
    }
    ul {
      float: none !important;
      text-align: center;
      padding-top: 0 !important;
      margin: 0 0 0 25px;
      li.active {
        a{
          background-color: white;
          color: #428bca;
        }
      }
    }
  }
}*/