<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="/css/syntax.css">
		
		  <!-- Bootstrap -->
		  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

        <div class="container">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <!--<a class="extra" href="/portfolio">Portfolio</a>-->
            <a class="extra" href="/blog">Blog</a>
            <a class="extra" href="/about">About</a>
            <div id="header-images" class="pull-right">
              <a href="http://twitter.com/unoquadium"><img src="/images/twitter-32-black.png" alt="Twitter" /></a>
              <a href="http://www.linkedin.com/pub/ilya-rubnich/37/a4/bb5/"><img src="/images/linkedin-32-black.png" alt="LinkedIn" /></a>
            </div>
            <hr />
          </div>

          {{ content }}

          <div class="footer">
            <hr />
            <p>
              &copy; 2013
            </p>
          </div>
        </div> <!-- /container -->

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-33836016-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

      </script>

    </body>
</html>
