{{% include tagline %}}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Portfolio site for Ilya Rubnich">
      <meta name="author" content="Ilya Rubnich">

      <title>{{ page.title }}</title>
		
		  <!-- Bootstrap -->
		  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css/main.css">

      {% if page.url == "/portfolio/index.html" %}
        <link rel="stylesheet" href="/css/lightbox.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/js/lightbox-2.6.min.js"></script>
      {% endif %}
    </head>
    <body>

        <div class="container">
          <div class="header">

            <ul class="nav nav-pills pull-right">
              <li {% if page.url == "/index.html" %} class="active" {% endif %}><a href="/">Home</a></li>
              <li {% if page.url == "/portfolio/index.html" %} class="active" {% endif %}><a href="/portfolio">Portfolio</a></li>
              <li {% if page.url == "/blog/index.html" or page.id %} class="active" {% endif %}><a href="/blog">Blog</a></li>
              <li {% if page.url == "/about/index.html" %} class="active" {% endif %}><a href="/about">About</a></li>
            </ul>
            <h3>{{ site.name }} <small>Web Developer</small></h3>

            <hr>
          </div>

          {{ content }}

          <div class="footer">
            <hr>
            <p>&copy; 2013</p>
          </div>

        </div> <!-- /container -->

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-33836016-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

      </script>

    </body>
</html>
